.ANY {
    text-align: center;
    color : red;
    background-color: grey;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    border: 2px solid black;
    height: 30%; 	
    width: 20%;
    padding: 10px;
    float: left;
}
.number2 {
    text-align: center;
    color : red;
    background-color: grey;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    border: 2px solid black;
    height: 30%; 	
    width: 20%;
    padding: 10px;
    float: left;
}
.number3 {
    text-align: center;
    color : red;
    background-color: grey;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    border: 2px solid black;
    height: 30%; 	
    width: 20%;
    padding: 10px;
    float: left;
}
.number {
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    padding-top: 10%;
    display: inline-block;
    padding-left: 17%;
}